.recipe {
    display: flex;
    width: fit-content;
    flex-direction: column;
    text-align: start;
    padding: 1rem;
    border: 1px solid black;
}

ul,
ol {
    padding-inline-start: 1.5rem;
}
